GATSBY_SANITY_PROJECT_ID="entrnfzu"
GATSBY_SANITY_DATASET="production"

# Copy this file to .env.development for local development.
# Note: After copying DO NOT commit this file to git!
SANITY_READ_TOKEN="skPqvbvBuEXfXNmGuNXcnXfFUtPKX6FYXwwU897XC2ufJo4yPcOszCYtcm8uLYn5tcY6Us7MAplWmjyMvrjh7I1xJHXz2FT9Ee9bAhl5usKarSwJMseMVtNTDRE2koou6LmQSaavdNEkYQdqXqHZ2vXVJWjUdAcxvDlc8jP3mGc3VV96zhmj"
